/* src/css/sections/hero.css */

.hero-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    /* МАБІЛКА: Градыент знізу ўверх, каб тэкст не зліваўся з тварамі */
    background-image:
        linear-gradient(to top, rgba(17, 17, 17, 1) 10%, rgba(17, 17, 17, 0.4) 50%, rgba(17, 17, 17, 0.2) 100%),
        url('/src/assets/img/hero-bg-mob.webp');
}

@media (min-width: 768px) {
    .hero-bg {
        /* ПЛАНШЭТ І ДЭСКТОП: Градыент злева направа */
        background-image:
            linear-gradient(to right,
                rgba(17, 17, 17, 1) 0%,
                rgba(17, 17, 17, 0.9) 30%,
                rgba(17, 17, 17, 0.4) 60%,
                rgba(17, 17, 17, 0) 100%),
            url('/src/assets/img/hero-bg-desc.webp');

        /* Захоўваем тваё пазіцыянаванне карцінкі */
        background-position: 0 0, calc(100% + 160px) -48px;
        background-size: 100% 100%, 140% auto;
    }
}

@media (min-width: 1280px) {
    .hero-bg {
        background-image:
            linear-gradient(to right,
                rgba(17, 17, 17, 1) 0%,
                /* Поўны чорны пад тэкстам */
                rgba(17, 17, 17, 0.95) 25%,
                /* Трымаем шчыльнасць */
                rgba(17, 17, 17, 0.5) 50%,
                /* Пачынаем адкрываць фота */
                rgba(17, 17, 17, 0) 80%),
            /* Цалкам бачнае фота справа */
            url('/src/assets/img/hero-bg-desc.webp');

        background-position: 0 0, calc(100% + 260px) -210px;
        background-size: 100% 100%, 140% auto;
    }
}