html,
body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

main {
  display: block;
}

.section-spacing {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.1;
  color: #ffffff;
  font-size: 22px;

}


.swiper-wrapper {
  display: flex !important;
}

.swiper-slide {
  height: auto !important;
  display: flex !important;
}

.swiper-slide>div {
  width: 100%;
}

@media (min-width: 768px) {


  .section-title {
    font-size: 32px;
    white-space: normal;
  }

  .section-spacing {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}


@media (min-width: 1280px) {
  .section-spacing {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-title {
    font-size: 48px;
  }
}